.button {
    border: none;
    background-color: white;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.button:active, .button:focus {
    outline: none;
}

.button::-moz-focus-inner {
    border: 0;
}

.image {
    width: 20px;
    height: 17px;
}