.filters {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 308px;
    height: 335px;
    margin: 0 10px;
}

.submitButton {
    font-family: ProximaNova-Light;
    font-size: 14px;
    font-weight: 300;
    width: 251px;
    height: 35px;
    background-color: #0284c6;
    border: none;
    margin: 30px auto 0;
    color: white;
}

.resetButton {
    font-family: ProximaNova-Light;
    font-size: 14px;
    font-weight: 300;
    width: 251px;
    height: 35px;
    background-color: #f8f8f8;
    border: none;
    margin: 10px auto 0;
    color: #333333;
}

.content {
    margin: 26px 0 0 27px;
}

.title {
    font-family: ProximaNova-Regular;
    font-size: 17px;
    color: #4a4a4a;
}

.row {
    margin-top: 10px;
    display: flex;
}

.element {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    user-select: none;
    color: #4a4a4a;
    font-family: ProximaNova-light;
    font-size: 14px;
}
  
.checkbox+label::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #d7d7d7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.07);
}

.checkbox:checked+label::before {
    border-color: #3e8bdc;
    background-color: #3e8bdc;
    background-image: url("../../images/path-1176.png");
    background-size: 80%;
}

.checkbox:hover+label::before {
    border: 1px solid #3e8bdc; 
}