body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: ProximaNova-Light;
  src: url(./fonts/ProximaNova_Light.ttf);
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url(./fonts/ProximaNova_Regular.ttf);
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url(./fonts/ProximaNova_Semibold.ttf);
}