.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 308px;
    max-height: 590px;
}

.art {
  font-family: ProximaNova-Light;
  font-size: 12px;
  text-align: right;
  color: #bfbfbf;
  margin: 20px 25px 15px 0;
}

.image {
    max-width: 281px;
    margin: auto;
}

.title {
  font-family: ProximaNova-Regular;
  font-size: 18px;
  color: #262626;
  max-width: 222px;
  margin-top: 9px;
  margin-bottom: 17px;
}

.content {
    margin-left: 23px;
    font-size: 12px;
}

.params {
  display: flex;
  margin-top: 7px;
  list-style-type: none;
}

.paramsName {
  color: #9b9b9b;
  font-family: ProximaNova-Light;
  font-size: 12px;
}

.paramsValue {
  margin-left: 5px;
  color: #4f4f4f;
  font-family: ProximaNova-Light;
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 31px;
}

.rightButtons {
  display: flex;
}

.list {
  padding: 0;
}