.buyButton {
    background-color: #0284c6;
    width: 99.7px;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.buyButton:hover {
    background-color: #0a608b;
    cursor: pointer;
} 

.text {
    color: white;
    margin-left: 10px;
    font-family: ProximaNova-Regular;
    font-size: 13.8px;
}